.form-container {
  margin: auto;
  border: 2px solid rgba(59, 59, 145, 0.705);
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  justify-content: center;
  background-color: #f9f9f1
}

.form-btn {
  background-color: aquamarine;
  border-radius: 3px;
}
